dist/

.DS_Store
Thumbs.db

*.log
*.tmp

openwrt-sdk-*/
openwrt-*/
build_dir/
staging_dir/
bin/
tmp/
dl/
feeds/
.config
.config.old

package/luci-app-starlink/src/starlink-dish
package/luci-app-starlink/src/starlink-dish.exe
